<img src="../img1.png">

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [3]:
priceIndex_df = pd.read_csv("../Dataset/cshpi_processed", parse_dates=[0])

In [6]:
priceIndex_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 6 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   observation_date                252 non-null    datetime64[ns]
 1   CSUSHPISA                       252 non-null    float64
 2   Change from Last Month          252 non-null    float64
 3   Percent Change from Last Month  252 non-null    float64
 4   Change From Year Ago            240 non-null    float64
 5   Percent Change From Year Ago    240 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 11.9 KB

In [4]:
priceIndex_df.head()

,observation_date,CSUSHPISA,Change from Last Month,Percent Change from Last Month,Change From Year Ago,Percent Change From Year Ago
0,2000-01-01,100.552,0.000,0.000000,NaN,NaN
1,2000-02-01,101.339,0.787,0.782680,NaN,NaN
2,2000-03-01,102.127,0.788,0.777588,NaN,NaN
3,2000-04-01,102.922,0.795,0.778443,NaN,NaN
4,2000-05-01,103.677,0.755,0.733565,NaN,NaN

Observations are from 2000-01-01 upto 2020-12-01

In [7]:
print(priceIndex_df["observation_date"].min())
print(priceIndex_df["observation_date"].max())

2000-01-01 00:00:00
2020-12-01 00:00:00

**CSUSHPISA**: Case-Shiller U.S. National Home Price Index Seasonally Adjusted

**Units**: Index Jan 2000=100, Seasonally Adjusted, Monthly

All other columns are with refrenced with Jan 2000 accordingly.

In [8]:
priceIndex_df.shape

(252, 6)

So there are 5 observation columns every month.

In [9]:
priceIndex_df.columns

Index(['observation_date', 'CSUSHPISA', 'Change from Last Month',
       'Percent Change from Last Month', 'Change From Year Ago',
       'Percent Change From Year Ago'],
      dtype='object')

In [10]:
priceIndex_df.describe()

,CSUSHPISA,Change from Last Month,Percent Change from Last Month,Change From Year Ago,Percent Change From Year Ago
count,252.000000,252.000000,252.000000,240.000000,240.000000
mean,161.673373,0.536012,0.340273,5.870075,0.040373
std,30.672318,0.975878,0.597031,10.082284,0.064864
min,100.552000,-2.524000,-1.616498,-21.629000,-0.125808
25%,140.312000,0.213250,0.109012,-0.966000,-0.006360
50%,161.977500,0.696000,0.443807,8.511500,0.051271
75%,183.024000,1.000250,0.718853,11.471000,0.087476
max,235.627000,3.731000,1.653753,22.278000,0.144380

Price Index is always greater than the initial year i.e. 2000. But there has been drop compared from the previous year. **Maximum drop** was of *1.61% at year Dec 2008* i.e. Financial Crisis.

In [12]:
# Max Drop wrt previous year
priceIndex_df[priceIndex_df['Percent Change From Year Ago']==priceIndex_df['Percent Change From Year Ago'].min()]['observation_date']

110   2009-03-01
Name: observation_date, dtype: datetime64[ns]

Here observation is **maximum rise in price index** has been in *Oct 2000*.

In [ ]:
# Max Increase wrt previous year
priceIndex_df[priceIndex_df['Percent Change from Year Ago']==priceIndex_df['Percent Change from Year Ago'].max()]['observation_date']

Here we can see that **maximum price index** was also observed in *Dec 2020* i.e. 252.00.

In [ ]:
priceIndex_df[priceIndex_df['CSUSHPISA']==priceIndex_df['CSUSHPISA'].max()]['observation_date']

In [ ]:
priceIndex_df.notnull().count()

No null values.

In [ ]:
fig1 = px.line(data_frame=priceIndex_df, x='observation_date', y="CSUSHPISA", title="House Price Index 'Jan 2000=100'")
fig1.show()

In [ ]:
fig2 = px.line(priceIndex_df, x="observation_date", y=["Percent Change from Year Ago"])
fig2.show()

In [ ]:
fig3 = px.line(priceIndex_df, x="observation_date", y=["Percent Change from 2000"])
fig3.show()